################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Limit.OfficialSite/v16
/src/Common/Limit.OfficialSite/bin/Debug/netstandard2.0
/src/Common/Limit.OfficialSite/obj
/src/Limit.OfficialSite.Application/bin/Debug/netstandard2.0
/src/Limit.OfficialSite.Application/obj
/src/Limit.OfficialSite.Application.Contract/bin/Debug/netstandard2.0
/src/Limit.OfficialSite.Application.Contract/obj
/src/Limit.OfficialSite.Domain/bin/Debug/netstandard2.0
/src/Limit.OfficialSite.Domain/obj
/src/Limit.OfficialSite.Domain.Shared/bin/Debug/netstandard2.0
/src/Limit.OfficialSite.Domain.Shared/obj
/src/Limit.OfficialSite.Infrastructure/bin/Debug/netstandard2.0
/src/Limit.OfficialSite.Infrastructure/obj
/src/Limit.OfficialSite.Web/bin/Debug/netcoreapp3.1
/src/Limit.OfficialSite.Web/obj
/src/Tools/Limit.OfficialSite.Migrator/bin/Debug/netstandard2.0
/src/Tools/Limit.OfficialSite.Migrator/obj
/test/Limit.OfficialSite.Test/bin/Debug/netcoreapp3.1
/test/Limit.OfficialSite.Test/obj
/.vs/Limit.OfficialSite/DesignTimeBuild
/src/Common/Limit.OfficialSite/bin/Debug/netstandard2.1
/src/Limit.Club.Application.Contract/obj
/src/Limit.Club.Domain/obj
/src/Limit.Club.Domain.Shared/obj
/src/Limit.Club.EntityFrameworkCore/obj
/src/Limit.Club.Web/obj
/src/Limit.OfficialSite.Application/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Application.Contract/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Domain/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Domain.Shared/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Infrastructure/bin/Debug/netstandard2.1
/src/Tools/Limit.OfficialSite.Migrator/bin/Debug/netstandard2.1
/src/Common/Limit.OfficialSite/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Application/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Application.Contract/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Domain/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Domain.Shared/bin/Debug/netstandard2.1
/src/Limit.OfficialSite.Infrastructure/bin/Debug/netstandard2.1
/src/Tools/Limit.OfficialSite.Migrator/bin/Debug/netstandard2.1
/.vscode
/.vscode
/src/Limit.Club.Application.Contract/obj
/src/Limit.Club.Domain/obj
/src/Limit.Club.Domain.Shared/obj
/src/Limit.Club.EntityFrameworkCore/obj
/src/Limit.Club.Web/obj
/.vs
/src/Limit.Club/obj
/src/Limit.Club.Application/obj
